body {
  background: linear-gradient(rgb(116, 15, 15), red, green);
  min-height: 100vh;
}


/* fonts importerd */
/* font-family: 'Merienda', cursive;
font-family: 'Markazi Text', serif; */

/* .App-logo {
  animation: App-logo-spin infinite 110s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(11160deg); } */
/* } */
